.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/biome.json
**/*.map
**/*.ts
**/.vscode-test.*
CODEOWNERS
knip.json
release.config.js
vitest.config.mjs
vitest.setup.js
.github
node_modules

